.content{
    animation-duration: 2.5s; 
    margin-top: 12%;
    margin-left: 55%; 
    position: absolute;
}

.Img{
    background-image: url(../components/bm.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  .homepage-bgimage {
    background: url("./bm.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }