.NavigationBox{
    color: red;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 12%;
    font-family: 'Playfair Display', serif;
    width: 25%;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px; 
}

.Image{
    margin-top: 12%;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}