@keyframes animate__animated {}

.animate__animated {
    animation-duration: 1.5s; 
    margin-top: 16%;
    margin-left: 5%; 
    margin-right: 55%;
    font-size: 270%;
    font-family: 'Playfair Display', serif;
    line-break: normal;
    position: absolute;
    text-align: justify;
    color: rgb(203, 203, 203);
}
